#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Demo Process Moninoring Driver 2"
#define VER_INTERNALNAME_STR        "DPROCMON2.sys"

#include "common.ver"
